[preset.0]

script_encryption_key=""

[preset.0.options]

keystore/debug="KEYSTORE_DEBUG_PATH"
keystore/debug_user="androiddebugkey"
keystore/debug_password="android"
keystore/release="KEYSTORE_RELEASE_PATH"
keystore/release_user="ANDROID_KEYSTORE_ALIAS"
keystore/release_password="ANDROID_KEYSTORE_PASSWORD"